{%- assign product = all_products[block.settings.featured_product]  -%}

<div class="index-section">
    <div id="ProductSection-{{ section.id }}"
         data-section-id="{{ section.id }}"
         data-section-type="product"
         data-variant-type="{{ section.settings.variant_type }}">


        <div class="page-width">
            <div class="grid">
                <div class="grid__item medium-up--one-half">
                    {% include 'product-images',
                        section_id: section.id,
                        product_image_type: section.settings.product_image_type,
                        video_looping: section.settings.enable_video_looping,
                        video_style: section.settings.product_video_style
                    %}
                </div>

                <div class="grid__item medium-up--one-half{% if section.settings.product_image_type == 'stacked' %} product-single__sticky{% endif %}">
                    <div class="product-single__meta">
                        <div class="product-single__header small--text-center">
                            <div class="h1 product-single__title">
                                {{ product.title }}
                            </div>
                            <div class="product-single__prices">
                <span
                        id = 'prix{{ product.handle }}'
                        class="product__price{% if compare_at_price > price %} sale-price{% endif %}"
                        data-product-price>

                </span>
                            </div>
                            <div data-product-unit-wrapper class="product__unit-price {% unless current_variant.unit_price_measurement %} hide{% endunless %}">
                                {{ current_variant.unit_price | money }}/{{ unit_price_base_unit }}
                            </div>
                        </div>

                        {% include 'product-form-magasin',
                            section_id: section.id,
                            variant_type: section.settings.variant_type,
                            variant_labels_enable: section.settings.variant_labels_enable,
                            quantity_enable: section.settings.quantity_enable,
                            enable_payment_button: section.settings.enable_payment_button
                        %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
<script>


    {% for variant in product.variants %}
    let idMax = "{{variant.title}}{{product.handle}}";
    if({{variant.inventory_quantity}} > 0)
    {
        document.getElementById(idMax).setAttribute('max',{{variant.inventory_quantity}});
    }
    else{
        document.getElementById(idMax).setAttribute('max',0);

    }
    let idStyle = "{{product.handle}}{{variant.title}}";

    if({{variant.inventory_quantity}} > 0 && {{variant.inventory_quantity}}< 10)
    {
    document.getElementById(idStyle).setAttribute("style", "background-color: #EFC050;");
    document.getElementById(idStyle).setAttribute("title", "Il reste {{variant.inventory_quantity}} paires");
        }
       if({{variant.inventory_quantity}} > 9 )
        {
            document.getElementById(idStyle).setAttribute("style", "background-color: #88B04B;");
    document.getElementById(idStyle).setAttribute("title", "Il reste {{variant.inventory_quantity}} paires");
        }
       if({{variant.inventory_quantity}} < 1 )
        {
            document.getElementById(idStyle).setAttribute("style", "background-color: #FF6F61;");
    document.getElementById(idStyle).setAttribute("title", "Il ne reste plus de paire");
        }
           if({{variant.inventory_quantity}} ==1)
        {

          	document.getElementById(idStyle).setAttribute("title", "Il reste {{variant.inventory_quantity}} paire");
        }
        {% endfor %}


        //requete get getclientinfos(avec verify token) recoit un id(clientAuth0) et un access_token et renvoie le client


        let clientsApp = {};
        let Http = new XMLHttpRequest();
        let id = '60842ef8bdc9272956fd8c5f'
        var url='https://kttv84u3zg.execute-api.eu-west-3.amazonaws.com/dev/panier/' + id;
        Http.open("GET", url);
        Http.send();

        Http.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200) {
                clientsApp = JSON.parse(Http.responseText);
                for(let j in clientsApp['panier']){
                    for (let i in clientsApp["panier"][j]) {
                        document.getElementById(i+j).value = clientsApp["panier"][j][i]
                    }
                }
                for (let i in clientsApp["prix"]) {
                    document.getElementById("prix"+i).innerHTML = clientsApp["prix"][i] + "€";
    }
    }
    }



    function precommande(){
    var newPanier = {};
    for(let j in clientsApp['panier']){
                newPanier[j] = {}
                for (let i in clientsApp["panier"][j]) {
                    newPanier[j][i] = document.getElementById(i+j).value
                }
            }
            console.log(newPanier);

            var url='https://kttv84u3zg.execute-api.eu-west-3.amazonaws.com/dev/update/' + id;
    Http.open("POST", url, true);
            Http.setRequestHeader("Content-Type", "application/json");
            Http.onreadystatechange = function() { //Appelle une fonction au changement d'état.
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    console.log("db");
                }
            }
            Http.send(JSON.stringify(newPanier));
          	console.log(JSON.stringify(newPanier));

        }
      function commande(){
        var newPanier = {
          "date" : Date.now(),
          "paiement" : false,
          "panier" :{}
        };
            for(let j in clientsApp['panier']){
                newPanier["panier"][j] = {}
                for (let i in clientsApp["panier"][j]) {
                  if(document.getElementById(i+j).value > 0){
                    newPanier["panier"][j][i] = document.getElementById(i+j).value
                	}
                }
            }

            var Http = new XMLHttpRequest();
            var id = '60842ef8bdc9272956fd8c5f'
            var url='https://kttv84u3zg.execute-api.eu-west-3.amazonaws.com/dev/commande/' + id;
            Http.open("POST", url, true);
            Http.setRequestHeader("Content-Type", "application/json");
            Http.onreadystatechange = function() { //Appelle une fonction au changement d'état.
                if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                    console.log("db");
                }
            }
            Http.send(JSON.stringify(newPanier));
        /*
        let x = [];
        let int = 0;
        for(i in clientsApp['panier']){
            for(j in clientsApp['panier'][i]){
                var y = {}
                y['name']=j;
                y['numbers']=clientsApp['panier'][i][j];
                x[int] = y;
                int++
            }

        }
      printJS({printable: x, properties: ['name',  'numbers'], type: 'json'})
        */

      }
</script>

<style>
    div.taille{
        border: 1px solid black;
        background-color: #8fbc8f;
        border-radius: 50%;
        margin: 2%;
        display: inline-flex;
        height: 30px;
        width: 30px;
        align-items: center;
        justify-content: center;
    }
    #btn3{
        width: 45%;
        text-align: center;
        margin: 2.5%;
    }

    .product-single__header {
        margin-top: 0px;
    }

    input[type="number"] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    div.variant-wrapper.variant-wrapper--{
        display: inline-block;

        width:  100%
    }

    .number-input1 {
        width: 60%;
        border: 1px solid #ddd;
        display: inline-flex;
    }

    .number-input1 button {
        outline:none;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
        cursor: pointer;
        position: relative;
        padding :1%;
        width : 25%;
        margin : 2%;

    }

    .number-input1 button:after {
        display: inline-block;
        position: absolute;
        width : 25%;
    }

    .number-input1 input[type=number] {
        font-family: sans-serif;
        padding: 1%;
        border: solid #ddd;
        font-size: 1rem;
        height: 100%;
        font-weight: 700;
        text-align: center;
        width: 50%;

    }

    div.group{
        float: left;
        width: 130px;
        margin: 0 0 2px 0;
    }

    div.product-single__header.small--text-center{
        width : 100%;
    }


</style>
